<div class="container">
  <%= form_for([@restaurant, @review]) do |f| %>
    <p>Rating:</p><%= f.number_field :rating %>
    <p>Content:</p> <%= f.text_area :content %>
    <%= f.submit class: "btn btn-primary" %>
  <% end %>
</div>
